/* To make the website scrollable*/
body{
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    background-color: #000000;
}

/* designing of navbar starts here */
.topnav{
    width: 100%;
    height: 3.4em;
    margin: 0px 0px 0px 0px;
    /* border: 1px solid red; */
}

.topnav a {
    font-family: 'Roboto Condensed', sans-serif;
    float: left;
    text-align: center;
    padding: 9px 27px;
    text-decoration: none;
    font-size: 21px;
    color: rgb(163 231 68);
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(74, 74, 74);
    border-radius: 10%;
    color: rgb(255, 255, 255);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: white;
  }

  #navicon{
    margin: 0px -73px 0px 0px;
    float: right;
  }

  #navicon h1 {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px 0px 0px 0px ; 
    width: 323px;
    color: #1ba145;
    font-size: 40px;
  }

  #navicon_secondhalf{
    color: #64ff04;
  }

  /* designing of Text and image of bitcoin just below the navbar starts here*/

  #button1{
    background-color: #35c216;
    margin: 578px 0px 0px -374px;
    width: 15%;
    height: 41px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    font-size: 20px;
    float: left;
  }

  #button1 a{
    color: #000000;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
  }

  
  #just_below_navbar{
    font-family: 'Roboto Condensed', sans-serif;
    height: 680px;
    width: 100%;
    position: relative;
    /* border: 1px solid red; */
    
  }

  #just_below_navbar h3{
    font-size: 29px;
    margin: 55px 0px 0px 162px;
    color: #feffff;
    width: 420px;
    float: left;
  }

  #just_below_navbar h1{
    font-size: 64px;
    margin: 195px 0px 0px -445px;
    color: #5bd1ba;
    width: 530px;
    float: left;
  }

  #just_below_navbar p{
    font-size: 30px;
    margin: 462px 0px 0px -448px;
    color: #f1fffa;
    width: 420px;
    float: left;
  }


  #just_below_navbar img{
    position: absolute;
    background-repeat: no-repeat;
    width: 32%;
    height: 52%;
    float: right;
    margin: 100px 0px 0px 115px;
    border-radius: 34px;
    background-size: cover;
    box-shadow: 0 0 32px 3px rgb(255, 255, 255);
  }


  /*designing for the div2 starts here*/

  #div2{
    margin-top: 115px;
    width: 100%;
    height: 750px;
  }


  #div2 img{
    width: 100%;
    height: 795px;
    margin: 0px 0px 0px 0px;
    border-radius: 12px;
    opacity: 50%;
    box-shadow: 0 0 43px 10px white;
  }

  #div2 h3{
    color: rgb(211 211 211);
    position: absolute;
    margin: -534px 0px 0px 0px;
    font-size: 36px;
    font-family:monospace;
    background-color: rgba(0, 0, 0, 0.279);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
  }

  #div2 h2{
    color: rgb(255 255 255);
    position: absolute;
    margin: -750px 0px 0px 30px;
    font-size: 37px;
    font-family: Arial, Helvetica, sans-serif;
  }

  #div2 h1{
    color: rgb(192 254 172);
    position: absolute;
    margin: -664px 0px 0px 321px;
    font-size: 65px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 0px 0px 0px;
  }

  /*designing for the div3 starts here*/

  #div3{
    margin: 70px 0px 130px 0px;
    width: 100%;
    height: 1052px;
    display: flex;
  }

  #div3 img{
    width: 51%;
    height: 366px;
    margin: 130px 0px 0px 180px;
    display: flex;
    border-radius: 20px;
    box-shadow: 0 0 30px 3px white;
  }

  #div3 a{
    border-top-left-radius: 22px;
    border-bottom-right-radius: 22px;
    width: 16%;
    height: 117px;
    margin: 222px 0px 0px 100px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
  }

  #p2{
    width: 770px;
    height: 60px;
    margin: 590px 0px 0px -892px;
    color: #abe3b8;
    font-size: 62px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  /*designing for the rate starts here*/

  #rate{
    width: 826px;
    height: 270px;
    margin: 790px 0px 0px -760px;
    box-shadow: 0 0 25px 8px rgb(196 255 218);
    border-radius: 35px;
  }


  #r0{
    width: 186px;
    height: 40px;
    font-size: 26px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin: 36px 0px 0px 71px;
  }

  #r1{
    width: 186px;
    height: 40px;
    font-size: 39px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #51ff76;
    margin: -46px 0px 0px 277px;
  }

  #r2{
    width: 375px;
    height: 40px;
    font-size: 29px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin: 44px 0px 0px 130px;
  }

  #r3{
    width: 70px;
    height: 52px;
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #51ff76;
    margin: 13px 0px 0px 131px;
  }

  #r4{
    width: 70px;
    height: 52px;
    font-size: 63px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin: -70px 0px 0px 232px;
  }

  #r5{
    width: 236spx;
    height: 62px;
    font-size: 48px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: -36px 0px 0px 296px;
    color: #00ff2b;
  }

  #r6{
    width: 236spx;
    height: 62px;
    font-size: 48px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #51ff76;
    margin: -62px 0px 0px 329px;
  }

   /*designing for the footer starts here*/

  #footer{
    width: 100%;
    height: 530px;
    background-color:rgb(41, 41, 41);
    margin: 70px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer_divs{
    width: 23%;
    height: 250px;
    display: flex;
    padding: 0px 0px 0px 0px;
  }

  .footer_divs h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: -44px 0px 0px 71px;
    color: rgb(157, 243, 165);
  }

  .footer_li{
    margin: 57px 0px 0px -88px;   
    height: 172px;
    width: 113px;
  }

  #footer_div0{
    margin: 50px 0px 0px -89px;   
    height: 172px;
    width: 130px;
  }

  #footer_div1{
    margin: 50px 0px 0px -117px;   
    height: 172px;
    width: 133px;
  }

  #footer_div2{
    margin: 50px 0px 0px -97px;   
    height: 172px;
    width: 140px;
  }

  #footer_div3{
    margin: 57px 0px 0px -50px;   
    height: 172px;
    width: 113px;
  }

  #footer_div3 img{
    background-color: white;
    border-radius: 25px;
    margin: 0px 0px 0px -35px;   
    height: 34px;
    width: 103px;
  }

  .footer_li a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color:#e4e4e4;
    padding: 0px 0px 0px 0px;
  }

  .footer_li a:hover{
    color: #42dc40;
    margin: 0px 0px 0px 20px;
  }

  /*designing for the element below footer starts here*/

  #below_footer{
    background-color:rgb(0, 0, 0);
    margin: -14px 0px 0px 0px;
    width: 100%;
    height: 231px;
  }

  #below_footer p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 14px;
    padding: 52px 0px 0px 108px;
  }

  #below_footer img{
    padding: 0px 0px 0px 0px;
    width: 158px;
    height: 40px;
    margin: 20px -50px 0px 118px;
  }

  .white{
    background-color: white;
    border-radius: 20px;
  }


/* Extra small devices (phones, 420px and down) */
@media only screen and (max-width: 420px) {
  .topnav{
    width: 100%;
    height: 5em;
    margin: 0em 0em 0em 0em;
  }
  .topnav a{
    font-size: 16px;
  }
  #navicon{
    display: none;
  }
  #just_below_navbar{
    height: 800px;
  }
  #just_below_navbar h3{
    font-size: 18px;
    margin: 3em 0em 0em 4em;
  }
  #just_below_navbar h1{
    font-size: 35px;
    margin: 1em 0em 0em 2em;
  }
  #just_below_navbar p{
    font-size: 20px;
    margin: 2em 0em 0em 4em;
  }
  #button1{
    width: 38%;
    height: 5%;
    margin: 2em 0em 0em 6.5em;
  }
  #button1 a{
    font-size: 22px;
  }
  #just_below_navbar img{
    width: 18.5em;
    height: 17em;
    margin: 31em 0em 0em -35em;
    border-radius: 10%;
  }
  #div2{
    height: 630px;
  }
  #div2 img{
    width: 100%;
    height: 16em;
    margin: 0em 0em 0em 0em;
    border-radius: 5%;
  }
  #div2 h1{
    font-size: 2.7em;
    margin: -3.5em 0em 0em 0em;
    background-color: #0000005c;
  }
  #div2 h2{
    font-size: 2em;
    margin: -7.3em 0em 0em 0.7em;
  }
  #div2 h3{
    overflow: auto;
    width: 100%;
    font-size: 1.8em;
    margin: 0em 0em 0em 0em;
  }
  #div3{
    height: 980px;
  }
  #div3 img{
    width: 22em;
    height: 14em;
    margin: 2em 0em 0em 1em;
    border-radius: 4%;
  }
  #div3 a{
    font-size: 1.8em;
    margin: 12em 0em 0em -8em;
  }
  #p2{
    white-space: nowrap;
    overflow: unset;
    font-size: 2em;
    margin: 18em 0em 0em -6.5em;
  }
  #rate{
    width: 98%;
    height: 24%;
    margin: 43em 0em 0em -27em;
  }
  #r0{
    margin: 1.5em 0em 0em 1.5em;
    font-size: 1.2em;;
  }
  #r1{
    margin: -1.7em 0em 0em 8.5em;
    font-size: 1.5em;;
  }
  #r2{
    margin: 1em 0em 0em 1em;
    font-size: 1.7em;;
  }
  #r3{
    margin: 1em 0em 0em 0.9em;
    font-size: 2em;;
  }#r4{
    margin: -1.8em 0em 0em 3em;
    font-size: 1.8em;;
  }
  #r5{
    margin: -1.6em 0em 0em 3.9em;
    font-size: 2em;;
  }
  #r6{
    margin: -2.4em 0em 0em 6.3em;
    font-size: 1.5em;;
  }
  #footer{
    margin: 0em 0em 1em 0em;
    height: 30em;
    width: 100%;
  }
  .footer_divs{
    width: 25%;
  }
  .footer_divs h2{
    font-size: 1.1em;
    margin: -3em -4em 0em 1em;
  }
  #footer_div0{
    font-size: 1em;
    margin: 0em -1em 0em 0em;
  }
  #footer_div1{
    font-size: 1em;
    margin: 0em -1em 0em 0em;
  }
  #footer_div2{
    font-size: 1em;
    margin: 0em -1em 0em 0em;
  }
  #footer_div3{
    font-size: 1em;
    margin: 0em -1em 0em 0em;
  }
  #footer_div3 a img{
    width: 70%;
    height: 15%;
    margin: 0em 0em 0em 1em;
  }
  #below_footer{
    width: 100%;
    height: 20em;
  }
  #below_footer p{
    margin: 0em 0em 0em -7em;
  }
  #below_footer img{
    margin: 2em 0em 0em 3em;
  }
  
}