/* To make the website scrollable*/
body{
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    background-color: #000000;
}

/* designing of navbar starts here */
.topnav{
    width: 100%;
    height: 3.4em;
    margin: 0px 0px 0px 0px;
    /* border: 1px solid red; */
}

.topnav a {
    font-family: 'Roboto Condensed', sans-serif;
    float: left;
    text-align: center;
    padding: 9px 27px;
    text-decoration: none;
    font-size: 21px;
    color: rgb(163 231 68);
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(74, 74, 74);
    border-radius: 10%;
    color: rgb(255, 255, 255);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: white;
  }

  #navicon{
    margin: 0px -73px 0px 0px;
    float: right;
  }

  #navicon h1 {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px 0px 0px 0px ; 
    width: 323px;
    color: #1ba145;
    font-size: 40px;
  }

  #navicon_secondhalf{
    color: #64ff04;
  }

  /* designing of Text and image of bitcoin just below the navbar starts here*/

  #button1 a{
    color: #000000;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.3em;
  }

  
  #just_below_navbar{
    font-family: 'Roboto Condensed', sans-serif;
    height: 44em;
    width: 100%;
    position: relative;
    /* border: 1px solid red; */
    
  }

  #just_below_navbar h3{
    font-size: 2em;
    margin: 2em 0em 0em 8em;
    color: #feffff;
    width: 15em;
    float: left;
  }

  #just_below_navbar h1{
    font-size: 4em;
    margin: 3.2em 0em 0em -8em;
    color: #5bd1ba;
    width: 9em;
    float: left;
  }

  #just_below_navbar p{
    font-size: 2em;
    margin: 15em 0em 0em -16em;
    color: #f1fffa;
    width: 13em;
    float: left;
  }

  #button1{
    background-color: #35c216;
    margin: 28em 0em 0em -21em;
    width: 15%;
    height: 2em;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    font-size: 1.3em;
    float: left;
  }


  #just_below_navbar img{
    position: absolute;
    background-repeat: no-repeat;
    width: 28%;
    height: 54%;
    float: right;
    margin: 10em 0em 0em 8em;
    border-radius: 34px;
    background-size: cover;
    box-shadow: 0 0 32px 3px rgb(255, 255, 255);
  }


  /*designing for the div2 starts here*/

  #div2{
    margin-top: 115px;
    width: 100%;
    height: 54em;
  }


  #div2 img{
    width: 100%;
    height: 52em;
    margin: 0em 0em 0em 0em;
    border-radius: 12px;
    opacity: 50%;
    box-shadow: 0 0 43px 10px white;
  }

  #div2 h1{
    color: rgb(192 254 172);
    position: absolute;
    margin: -8.7em 0em 0em 5em;
    font-size: 5em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0em 0em 0em 0em;
  }

  #div2 h2{
    color: rgb(255 255 255);
    position: absolute;
    margin: -24em 0em 0em 1em;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
  }

  #div2 h3{
    color: rgb(211 211 211);
    position: absolute;
    margin: -16em 0em 0em 0em;;
    font-size: 2.7em;
    font-family:monospace;
    background-color: rgba(0, 0, 0, 0.279);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
  }


  /*designing for the div3 starts here*/

  #div3{
    margin: 70px 0px 130px 0px;
    width: 100%;
    height: 67em;
    display: flex;
  }

  #div3 img{
    width: 43%;
    height: 22em;
    margin: 3em 0em 0em 17em;
    display: flex;
    border-radius: 20px;
    box-shadow: 0 0 30px 3px white;
  }

  #div3 a{
    border-top-left-radius: 22px;
    border-bottom-right-radius: 22px;
    width: 16%;
    height: 4em;
    margin: 3em 0em 0em 4em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3em;
  }

  #p2{
    width: 15em;
    height: 8em;
    margin: 9em 0em 0em -16em;
    color: #abe3b8;
    font-size: 4em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  /*designing for the rate starts here*/

  #rate{
    width: 50em;
    height: 17em;
    margin: 47em 0em 0em -59em;
    box-shadow: 0 0 25px 8px rgb(196 255 218);
    border-radius: 35px;
  }


  #r0{
    width: 8em;
    height: 1.5em;
    font-size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin: 1em 0em 0em 3em;
  }

  #r1{
    width: 5em;
    height: 1.2em;
    font-size: 3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #51ff76;
    margin: -1.1em 0em 0em 8em;
  }

  #r2{
    width: 16em;
    height: 1.2em;
    font-size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin: 1em 0em 0em 4em;
  }

  #r3{
    width: 2em;
    height: 1.4em;
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #51ff76;
    margin: 0.5em 0em 0em 2.7em;
  }

  #r4{
    width: 1em;
    height: 1em;
    font-size: 4em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin: -1.1em 0em 0em 4.5em;
  }

  #r5{
    width: 1em;
    height: 1em;
    font-size: 3.7em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: -1em 0em 0em 7.2em;
    color: #00ff2b;
  }

  #r6{
    width: 3em;
    height: 1.5em;
    font-size: 3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #51ff76;
    margin: -1.1em 0em 0em 10em;
  }

   /*designing for the footer starts here*/

  #footer{
    width: 100%;
    height: 30em;
    background-color:rgb(41, 41, 41);
    margin: 0em 0em 4em 0em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer_divs{
    width: 23%;
    height: 15em;
    display: flex;
    padding: 0em 0em 0em 0em;
  }

  .footer_divs h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0em 0em 0em 3em;
    font-size: 2em;
    color: rgb(157, 243, 165);
  }

  .footer_li{
    margin: 5em 0em 0em -7em; 
    height: 15em;
    width: 10em;
  }

  #footer_div1{
    margin: 5em 0em 0em -9em;  
    height: 15em;
    width: 10em;
  }

  #footer_div3{
    margin: 5em 0em 0em -3.5em;  
    height: 15em;
    width: 10em;
  }

  #footer_div3 img{
    background-color: white;
    border-radius: 25px;
    margin: 0em 0em 0em -2em;   
    height: 2.3em;
    width: 6.5em;
  }

  .footer_li a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4em;
    text-decoration: none;
    color:#e4e4e4;
    padding: 0em 0em 0em 0em;
  }

  .footer_li a:hover{
    color: #42dc40;
    margin: 0em 0em 0em 0.8em;
  }

  /*designing for the element below footer starts here*/

  #below_footer{
    background-color:rgb(0, 0, 0);
    margin: 0em 0em 0em 0em;
    width: 100%;
    height: 13em;
  }

  #below_footer p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 1.1em;
    padding: 0em 0em 0em 20em;
  }

  #below_footer img{
    padding: 0em 0em 0em 0em;
    width: 13em;
    height: 3.5em;
    margin: 1.3em 0em 0em 9em;
  }

  .white{
    background-color: white;
    border-radius: 20px;
  }


/* Extra small devices (phones, 420px and down) */
@media only screen and (max-width: 420px) {
  .topnav{
    width: 100%;
    height: 5em;
    margin: 0em 0em 0em 0em;
  }
  .topnav a{
    font-size: 16px;
  }
  #navicon{
    display: none;
  }
  #just_below_navbar{
    height: 800px;
  }
  #just_below_navbar h3{
    font-size: 18px;
    margin: 3em 0em 0em 4em;
  }
  #just_below_navbar h1{
    font-size: 35px;
    margin: 1em 0em 0em 2em;
  }
  #just_below_navbar p{
    font-size: 20px;
    margin: 2em 0em 0em 4em;
  }
  #button1{
    width: 38%;
    height: 5%;
    margin: 2em 0em 0em 6.5em;
  }
  #button1 a{
    font-size: 22px;
  }
  #just_below_navbar img{
    width: 18.5em;
    height: 17em;
    margin: 31em 0em 0em -35em;
    border-radius: 10%;
  }
  #div2{
    height: 630px;
  }
  #div2 img{
    width: 100%;
    height: 16em;
    margin: 0em 0em 0em 0em;
    border-radius: 5%;
  }
  #div2 h1{
    font-size: 2.7em;
    margin: -3.5em 0em 0em 0em;
    background-color: #0000005c;
  }
  #div2 h2{
    font-size: 2em;
    margin: -7.3em 0em 0em 0.7em;
  }
  #div2 h3{
    overflow: auto;
    width: 100%;
    font-size: 1.8em;
    margin: 0em 0em 0em 0em;
  }
  #div3{
    height: 980px;
  }
  #div3 img{
    width: 22em;
    height: 14em;
    margin: 2em 0em 0em 1em;
    border-radius: 4%;
  }
  #div3 a{
    font-size: 1.8em;
    margin: 12em 0em 0em -8em;
  }
  #p2{
    white-space: nowrap;
    overflow: unset;
    font-size: 2em;
    margin: 18em 0em 0em -6.5em;
  }
  #rate{
    width: 98%;
    height: 24%;
    margin: 43em 0em 0em -27em;
  }
  #r0{
    margin: 1.5em 0em 0em 1.5em;
    font-size: 1.2em;;
  }
  #r1{
    margin: -1.7em 0em 0em 8.5em;
    font-size: 1.5em;;
  }
  #r2{
    margin: 1em 0em 0em 1em;
    font-size: 1.7em;;
  }
  #r3{
    margin: 1em 0em 0em 0.9em;
    font-size: 2em;;
  }#r4{
    margin: -1.8em 0em 0em 3em;
    font-size: 1.8em;;
  }
  #r5{
    margin: -1.6em 0em 0em 3.9em;
    font-size: 2em;;
  }
  #r6{
    margin: -2.4em 0em 0em 6.3em;
    font-size: 1.5em;;
  }
  #footer{
    margin: 0em 0em 1em 0em;
    height: 30em;
    width: 100%;
  }
  .footer_divs{
    width: 25%;
  }
  .footer_divs h2{
    font-size: 1.1em;
    margin: -3em -4em 0em 1em;
  }
  #footer_div0{
    font-size: 1em;
    margin: 0em -1em 0em 0em;
  }
  #footer_div1{
    font-size: 1em;
    margin: 0em -1em 0em 0em;
  }
  #footer_div2{
    font-size: 1em;
    margin: 0em -1em 0em 0em;
  }
  #footer_div3{
    font-size: 1em;
    margin: 0em -1em 0em 0em;
  }
  #footer_div3 a img{
    width: 70%;
    height: 15%;
    margin: 0em 0em 0em 1em;
  }
  #below_footer{
    width: 100%;
    height: 20em;
  }
  #below_footer p{
    margin: 0em 0em 0em -7em;
  }
  #below_footer img{
    margin: 2em 0em 0em 3em;
  }
  
}